# Исключить файл окружения
.env

# Исключить папку виртуального окружения (если она есть)
venv/

# Исключить папку __pycache__
__pycache__/

# Исключить файлы и папки, создаваемые IDE
.idea/
.vscode/
__pycache__/
*.pyc